*{
    overflow-anchor: none;
}

.page{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* background-color: green */
    padding-top: 1.4em;
}

.chat{
    width: 68%;
    /* height: calc(100% - 2.2em); */
    background-color: black;


}

#chat-window{
    margin: 0 auto;
    width: 90%;
    height: 70%;
    background-color: black;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;


    display: flex;
    flex-direction: column-reverse;
}

.messages{
    /* padding: 0.5em;
    border-radius: 1em;
    margin: 0.5em;
    line-height: 1.1em;
    width: 15em; */
    background-color: white;
    color: black;

    padding: 10px;
	margin-bottom: 15px;
    border-radius: 5px;
    text-align: left;
}

.messages-right{
    /* padding: 0.5em;
    border-radius: 1em;
    margin: 0.5em;
    line-height: 1.1em;
    width: 15em; */
    background-color: lightblue;
    color: black;

    padding: 10px;
	margin-bottom: 15px;
    border-radius: 5px;
    text-align: right;
}

.meta{
    color: #777;
    font-size: 15px;
	font-weight: bold;
	opacity: 0.7;
    margin-bottom: 7px;
    display: block;
    text-align: left;

}

.meta-right{
    color: #777;
    font-size: 15px;
	font-weight: bold;
	opacity: 0.7;
    margin-bottom: 7px;
    display: block;
    text-align: right;

}

.typing{
    height: 1.1em;
    color: white;
 
}

.hide{
    display: none;
}

#handle{
    margin: 0 auto;
    width: 90%;
    border: 1px solid lightgray;
    padding: 5px;
    
}

#message{

    border: 1px solid lightgray;
    border-top: none;

    margin: 0 auto;
    width: 90%;
    padding: 5px;

    color: black;

}

#send{
    margin: 0 auto;
    width: 90%;
    background-color: aqua;
    cursor: pointer;
    padding: 5px;

}